{% extends "mysite/html/default.html" %}

{% block menu %}
  {% if user %}
      <div id='menu'>Acesando como: {{user}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='logout/'>Sair</a></div>
  {% endif %}
{% endblock %}


   {% block main %}
	<form class='tweet' method='get' action='post_twitter/'>
	    <textarea id='comment_textarea' class='forms' rows=6 cols=58 name='text' style='width:100%'></textarea>
	    <input type=submit id='comment_submit' value="Comentar" class='forms'>
	</form>
    
    
    {% for i in comments %} 
<!--     <div class='coment'>{{i.date}}<br>{{i.text}}</div> -->
      <div class='coment'>
	{% if i.author %}
	    {{i.author}} escreveu:<br>
	{% endif %}
	  {{i.text}}
      </div>
    {% endfor %}
  {% endblock %} 



